.section-one{
    display: flex;
}

.form-one{
    margin: auto;
    border: 2px solid green;
    padding: 50px;
}

.double-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
}

.input-container{
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}

.input-container label{
    margin-bottom: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.input-container input{
    width: 250px;
    height: 30px;
    border-radius: 7px;
    border: 1px solid gray;
    padding-left: 20px;
}

.single-container{
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    margin-right: 50px;
    margin-bottom: 30px;
}


.single-container input{
    height: 30px;
    border-radius: 7px;
    border: 1px solid gray;
    padding-left: 20px;
}

.single-container label{
    margin-bottom: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.btn{
    width: 92.5%;
    height: 30px;
    margin-top: 50px;
    border-radius: 7px;
}

